.small-nav{
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
  
.small-nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

.small-nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

.small-nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}

@media screen and (min-width: 991px) {
    .small-nav{
        display: none;
    }
}